@using CoreDepartmentProject.Models.Entites.Concrete;
@model Department;
<div class="header" style=" justify-content:center; align-items:center; ">
    <h1 class="h-1" style="text-align:center; margin-top:8%;"> Yeni Departman Ekle</h1>
    <hr / style="width:80%; margin-left:10%;">
</div>

<div class="container-fluid" style="width:70%; background-color:gray; padding-top:10%; padding-bottom:10%; color:white; margin-top:10%;">
    <form class="form" method="post" style="display:flex; flex-direction:column; align-items:center; justify-content:center;">
        <div class="row col-lg-8">
           <label class="col-form-label" style="font-size:larger;"> Departman Adı </label>
            @Html.TextBoxFor(x => x.Name, new{@class="form-control"})
        </div>
        <button class="btn btn-primary btn-lg" type="submit" style="margin-top:2%"> Yeni Departman Ekle  </button>
    </form>
</div>