@using CoreDepartmentProject.Models.Entites.Concrete;
@model Department;
@{
     List<Customer> data = ViewBag.CustomersOfDepartment;
}

<div class="container-fluid" style="width:80%; margin-top:2%;">

    <div class="row col-lg-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th> Departman Adı </th>

                <th> Eklenme Tarihi </th>
                
                <th> Departmandaki Çalışanlar </th>
            </tr>

            <tr>
                <td> @Model.Name </td>
                <td> @DateTime.Now; </td>
                <td>
                    @foreach (var item in data)
                    {
                        <p>  @item.FirstName @item.LastName </p>
                        <br />
                       
                        
                    }
                </td>
            </tr>
        </table>
    </div>


</div>
